apiVersion: v1
kind: Service
metadata:
  name: hello-world-api-service
  labels:
    app: hello-world-api
    tier: backend
spec:
  selector:
    app: hello-world-api
  type: LoadBalancer
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 3000
